<%= select_tag :level, options_for_select([:developers, :detectives, :defenders], params[:level]), style: 'width: -webkit-fill-available; border: 5px ridge chocolate;', onchange: 'change()' %>
<div class="row">
  <div class='col-md-4'>
    <h1>Theme</h1>
  </div>
  <div class="col-md-8">
    <h1>Section</h1>
  </div>
</div>

<% @questions_by_theme.each do |theme, questions| %>
  <div class="row">
    <div class="col-md-4">
      <%= theme %>
    </div>
    <div class="col-md-8">
      <% questions.each do |q| %>
        <%= link_to q.section, bible_verse_path(id: q.bible_verse.id), class: 'link', style: "background-color: #{@background_color}" %>
      <% end %>
    </div>
  </div>
<% end %>
