<style>
  a {
    font-size: 50px;
  }
</style>
<h1>Choose a Level...</h1>
<br />
<%= link_to 'Developers', level_path(level: :developers) %>
<%= link_to 'Detectives', level_path(level: :detectives) %>
<%= link_to 'Defenders', level_path(level: :defenders) %>
