<h1><%= @question.text %></h1>
<div id="panel" style='background-color: rgba(234, 390, 45, 0.5);
    border-radius: 10px;
    padding: 12px;'>
  <% @question.bible_verses.each do |bv| %>
    <p><%= link_to bv.pretty_printed, bv %></p>
  <% end %>
</div>
<%= link_to 'Back', level_path(level: @question.level), style: 'color: red;', class: 'btn' %>
