<!DOCTYPE html>
<html>
<head>
  <title>Bible Study</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style type='text/css'>
  body {
    background-color: green;
    background-repeat: no-repeat;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .btn-primary:active {
    background-image: linear-gradient(navy, blue);
  }
  .btn-success {
    background-image: linear-gradient(lime, green);
  }
  .btn-warning {
    background-image: linear-gradient(orange, red);
  }
  .btn-danger:active {
    background-image: linear-gradient(cyan, red);
  }
  .btn-default:active {
    background-image: linear-gradient(cyan, white);
  }
  .alert.alert-info {
    background-image: linear-gradient(blue, magenta);
  }
  textarea {
    resize: both;
  }
  .well {
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid;
    border-color: gray;
    width: 50%;
  }
  table, h1 {
    align-content: center;
  }
  .danger-zone {
    border: 1px solid red;
    border-radius: 10px;
  }
  .btn-success:active {
    background-image: linear-gradient(green, lime);
  }
  .btn-warning:active {
    background-image: linear-gradient(red, orange);
  }
  .btn-danger {
    background-image: linear-gradient(red, cyan);
  }
  ol {
    list-style-type: decimal-leading-zero;
  }
  .btn-primary {
    background-image: linear-gradient(blue, navy);
  }
  .btn-default {
    background-image: linear-gradient(white, cyan);
  }
  .alert.alert-info:hover {
    background-image: linear-gradient(magenta, blue);
  }
  table {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .table {
    border: 5px groove red;
  }
  th {
    border-bottom: 5px groove red;
  }
  .pull-right {
    float: right;
  }
  .pagination {
    background-color: black;
  }
  .pagination a {
    color: aqua;
    padding-right: 10px;
  }
  ul {
    list-style-type: none;
  }
  nav {
    background-color: black;
  }
  span.current {
    color: #001bff;
    padding-right: 5px;
  }
  label {
    color: aqua;
    text-decoration: underline;
  }
  textarea {
    resize: vertical;
  }
  code {
    font-family: monospace;
  }
  .important {
    color: red;
  }
  .semi {
    display: inline;
  }
  </style>
</head>

<body>
  <div class='container'>
    <%= yield %>
  </div>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script>
  $(function() {
    $('#draggable').draggable();
    $('*').disableSelection();
  });
  $(function() {
    $('#resizable').resizable({
      ghost: true
    });
  });
  </script>
</body>
</html>
